1

In [ ]:
#input function
l=int(input('enter the l of rectangle'))
b=int(input('enter the b of rectangle'))
a=(l*b)
print(a)

enter the l of rectangle15
enter the b of rectangle4
60

2

In [ ]:
#input function
n1=int(input('enter n1'))
n2=int(input('enter n2'))
s=n1+n2
d=n1-n2
p=n1*n2
q=n1/n2
print(s)
print(d)
print(p)
print(q)

enter n1100
enter n250
150
50
5000
2.0

3

In [ ]:
F=float(input(' enter a number'))
C=(F-32)*5/9
print(C)

 enter a number50
10.0

In [ ]:

C=float(input('enter a number '))
F=(C*9/5)+32
print(F)

enter a number 30
86.0

4

In [ ]:
numb=int(input("enter a number"))
if numb>0:
  print("numb is positive")
elif numb<0:
  print("numb is negative")
else:
  print("invalid")

enter a number-20
numb is negative

5

In [ ]:
y=int(input ('enter the year'))
if y%4==0:
  print("it's a leap year")
elif y%4!=0:
  print("it's not a leap year")
elif y%400==0:
  print ("it's a leap year")
elif y%400!=0:
  print ("it's not a leap year")

enter the year2004
it's a leap year

6

In [ ]:
mark=int(input("enter mark"))
if mark>89:
  print("A")
elif mark>79:
  print ("B")
elif mark>69:
  print("C")
elif mark>59:
  print("D")
elif mark<59:
  print("F")
else:
  print("invalid")

enter mark94
A

7

In [ ]:
for num in range(10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

8

In [ ]:
for num in range(0,20,2):
  print(num)

0
2
4
6
8
10
12
14
16
18

9

In [ ]:
num=int(input("Enter the number"))

for i in range(1,11):
  print(num,"x",i,"=",num*i)

Enter the number5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50